.App {
  /* text-align: center; */
  color: lightgoldenrodyellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#drum-machine {
  align-content: center;
  display: flex;
  justify-content: center;
  column-gap: 4rem;
  background-color: darkslategrey;
  padding: 2rem;
  border-radius: 1rem;
}

#display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 10rem;
  border: 1rem;
}

.pad {
  display: inline-grid;
  grid-template-columns: repeat(3, 5rem);
  grid-template-rows: repeat(3, 3rem);
  gap: 2%;
}

button {
  background-color: burlywood;
  border-radius: 0.3rem;
  /* border-color: ; */
  font-size: 100%;
  font-weight: 700;
}